# .env
# schema=public: especifica o schema do banco de dados a ser usado, garantindo que as operações do Prisma sejam direcionadas para o schema correto, especialmente em bancos de dados com múltiplos schemas.

PORT=3001

DB_USER=church_user
DB_PASSWORD=church_password
DB_NAME=church_saas
DATABASE_URL="postgresql://church_user:church_password@localhost:5432/church_saas?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET="4kN7vQ2mL9sT8pX1zR6cH3dF5jW0aU7y"

GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:3001/v1/api/auth/google/callback

FRONTEND_URL=http://localhost:3000

RESEND_API_KEY="sua_chave_api_aqui"

CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx