PORT_NEST=3001
PORT_PRISMA=51212

# ==============================================================================
# CONFIGURAÇÕES DO FRONTEND (Next.js)
# ==============================================================================
NEXT_PUBLIC_PORT=3000
NEXT_PUBLIC_API_URL="http://localhost:${PORT_NEST}/api/v1"

# ==============================================================================
# CONFIGURAÇÕES DO BANCO DE DADOS (Usadas pelo Docker e pelo Backend)
# ==============================================================================

DB_HOST=postgres
DB_PORT=5432
DB_USER=claris_user
DB_PASSWORD=claris_password
DB_NAME=claris_saas
DB_CONTAINER=claris-db

# IMPORTANTE: No Docker, o host do banco passa a ser o nome do serviço (postgres)
# Para rodar migrações locais fora do docker, você usaria 'localhost'. No docker, use 'postgres'.
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"


# ==============================================================================
# CONFIGURAÇÕES DO BACKEND (NestJS)
# ==============================================================================
JWT_SECRET="4kN7vQ2mL9sT8pX1zR6cH3dF5jW0aU7y"
PUBLIC_API_KEY=54321

GOOGLE_CLIENT_ID=175062209622-qf91pfporu582c4tqkcl44d3kuam3nmo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL="http://localhost:${PORT_NEST}/api/v1/auth/google/callback"

FRONTEND_URL="http://localhost:${NEXT_PUBLIC_PORT}"

RESEND_API_KEY="re_3HdsVsib_BesgR5dqCUF2ioUJU4UMi7Pu"
RESEND_FROM_EMAIL='Claris <noreply@clariss.me>'

CLOUDINARY_CLOUD_NAME=cc42
CLOUDINARY_API_KEY=926854887914134
CLOUDINARY_API_SECRET=7-Yu182b1ObCV-1AY7jvXWtZRhI