# schema=public: especifica o schema do banco de dados a ser usado, garantindo que as operações do Prisma sejam direcionadas para o schema correto, especialmente em bancos de dados com múltiplos schemas.

PORT=3001

DB_USER=church_user
DB_PASSWORD=church_password
DB_NAME=church_saas
DATABASE_URL="postgresql://church_user:church_password@localhost:5432/church_saas?schema=public"

JWT_SECRET="4kN7vQ2mL9sT8pX1zR6cH3dF5jW0aU7y"

GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

FRONTEND_URL=http://localhost:3000


PUBLIC_API_KEY=54321
RESEND_API_KEY="sua_chave_api_aqui"
RESEND_FROM_EMAIL="Claris <noreply@clariss.me>"

CLOUDINARY_CLOUD_NAME=teu_cloud_name_aqui
CLOUDINARY_API_KEY=teu_api_key_aqui
CLOUDINARY_API_SECRET=teu_api_secret_aqui
