# .mailmap - Unificação de autores para a Claris

António Teca <antonioteca@hotmail.com> Anónio Teca <antonioteca@hotmail.com>
António Teca <antonioteca@hotmail.com> antoniotecadev <antonioteca@hotmail.com>

dcaliqui <damasiocipriano425@gmail.com> vboxuser <vboxuser@dcaliqui.myguest.virtualbox.org>

Costantino Gouveia <costantino.gouveia938@gmail.com> CostantinoGouveia <costantino.gouveia938@gmail.com>
Costantino Gouveia <costantino.gouveia938@gmail.com> cgouveia <costantino.gouveia938@gmail.com>