# .mailmap - Unificação de autores para a Claris

António Teca <antonioteca@hotmail.com> Anónio Teca <antonioteca@hotmail.com>
António Teca <antonioteca@hotmail.com> antoniotecadev <antonioteca@hotmail.com>

dcaliqui <damasiocipriano425@gmail.com> vboxuser <vboxuser@dcaliqui.myguest.virtualbox.org>

txavier <tchiadeestevaox@gmail.com> tchiade xavier <tchiadeestevaox@gmail.com>
txavier <tchiadeestevaox@gmail.com> Tchiadi Xavier <txavier@c2r2s2.42luanda.com>

Costantino Gouveia <costantino.gouveia938@gmail.com> CostantinoGouveia <costantino.gouveia938@gmail.com>
Costantino Gouveia <costantino.gouveia938@gmail.com> cgouveia <costantino.gouveia938@gmail.com>